# Covid 19 data analysis

*** About dataset ***

we have taken a small dataset of covid 19, just for your understanding purpose. dataset is till 29 april 2020 and 29 april 2020. we will analyse data using pandas dataframe.

In [2]:
import pandas as pd 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
%cd /content/drive/My Drive/Data Science/covid analysis/

/content/drive/My Drive/Data Science/covid analysis

In [4]:
data = pd.read_csv('covid_19_data.csv')

In [6]:
data

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[321 rows x 6 columns]

In [8]:
data.count()

Date         321
State        140
Region       321
Confirmed    321
Deaths       321
Recovered    321
dtype: int64

In [9]:
data.isnull().sum()

Date           0
State        181
Region         0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

# Q 1: Show the number of confirmed, deaths and recovered cases in each Region.

In [10]:
#df.groupby('Region').sum().head(50)
# df.groupby('Region')['Confirmed'].sum().sort_values(ascending=False).head(20)
#df.groupby('Region')['Confirmed', 'Recovered'].sum()

In [12]:
data.groupby('Region').sum().head(10)

                     Confirmed  Deaths  Recovered
Region
Afghanistan               1939      60        252
Albania                    766      30        455
Algeria                   3848     444       1702
Andorra                    743      42        423
Angola                      27       2          7
Antigua and Barbuda         24       3         11
Argentina                 4285     214       1192
Armenia                   1932      30        900
Australia                 6752      91       5715
Austria                  15402     580      12779

In [13]:
data.groupby('Region')['Confirmed'].sum().sort_values(ascending=False).head(10)

Region
US                1039909
Spain              236899
Italy              203591
France             166543
UK                 166441
Germany            161539
Turkey             117589
Russia              99399
Iran                93657
Mainland China      82862
Name: Confirmed, dtype: int64

In [14]:
data.groupby('Region')['Confirmed','Recovered'].sum().head(10)

<ipython-input-14-c0d7684236d2>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby('Region')['Confirmed','Recovered'].sum().head(10)

                     Confirmed  Recovered
Region
Afghanistan               1939        252
Albania                    766        455
Algeria                   3848       1702
Andorra                    743        423
Angola                      27          7
Antigua and Barbuda         24         11
Argentina                 4285       1192
Armenia                   1932        900
Australia                 6752       5715
Austria                  15402      12779

# Q 2: Remove all the records where confirmed cases is less than 10

In [15]:
#df.Confirmed <10
#df[df.Confirmed < 10]
#df[~df.Confirmed <10]
#df = df[~df.Confirmed < 10]

In [19]:
data = data[~data.Confirmed <10]

In [20]:
data

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[321 rows x 6 columns]

# Q3: In which Region, maximum number of confirmed cases were recorded?

In [21]:
data.groupby('Region').Confirmed.sum().sort_values(ascending=False).head(10)

Region
US                1039909
Spain              236899
Italy              203591
France             166543
UK                 166441
Germany            161539
Turkey             117589
Russia              99399
Iran                93657
Mainland China      82862
Name: Confirmed, dtype: int64

# Q4: In which region, minimum number of deaths cases were recorded?

In [25]:
data.groupby('Region').Deaths.sum().sort_values(ascending=True)

Region
Laos              0
Mongolia          0
Mozambique        0
Cambodia          0
Fiji              0
              ...
France        24121
Spain         24275
UK            26166
Italy         27682
US            60967
Name: Deaths, Length: 187, dtype: int64

# Q5: How many confirmed, deaths and recovered cases were reported from till 29 april 2020?

In [38]:
data[((data.Region == 'India') & (data.Date == '4/29/2020'))].sum()

Date         4/29/2020
State                0
Region           India
Confirmed        33062
Deaths            1079
Recovered         8437
dtype: object

# Q6(A): Sort the entire data wrt No. of confirmed cases in ascending order.

In [39]:
data.sort_values(by=['Confirmed'], ascending=True)

,Date,State,Region,Confirmed,Deaths,Recovered
285,4/29/2020,Recovered,US,0,0,120720
284,4/29/2020,Recovered,Canada,0,0,20327
203,4/29/2020,Diamond Princess cruise ship,Canada,0,1,0
305,4/29/2020,Tibet,Mainland China,1,0,1
289,4/29/2020,Saint Pierre and Miquelon,France,1,0,0
...,...,...,...,...,...,...
57,4/29/2020,NaN,France,165093,24087,48228
168,4/29/2020,NaN,UK,165221,26097,0
80,4/29/2020,NaN,Italy,203591,27682,71252
153,4/29/2020,NaN,Spain,236899,24275,132929
265,4/29/2020,New York,US,299691,23477,0

# Q6(B): Sort the entire data wrt No. of Recovered cases in descending order.

In [40]:
data.sort_values(by=['Recovered'], ascending=False)

          Date           State   Region  Confirmed  Deaths  Recovered
153  4/29/2020             NaN    Spain     236899   24275     132929
285  4/29/2020       Recovered       US          0       0     120720
61   4/29/2020             NaN  Germany     161539    6467     120400
76   4/29/2020             NaN     Iran      93657    5957      73791
80   4/29/2020             NaN    Italy     203591   27682      71252
..         ...             ...      ...        ...     ...        ...
248  4/29/2020        Maryland       US      20849    1078          0
246  4/29/2020        Manitoba   Canada        275       6          0
243  4/29/2020       Louisiana       US      27660    1845          0
241  4/29/2020        Kentucky       US       4537     234          0
215  4/29/2020  Grand Princess   Canada         13       0          0

[321 rows x 6 columns]